p {
    color: white;
}

agm-map {
    height: 400px;
}

h5, h2 {
    font-family: Oswald, sans-serif;
    color: brown;
    font-weight: 500;
    line-height: 33px;
    margin-top: 2rem;
}

// h2, .temp {
//     color: black;
//     font-size: 18px;
//     font-weight: 600;
// }

p {
    color: red;
    text-align: center;
    font-size: 1.5rem;
}