<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <a class="navbar-brand" routerLink="/welcome">Xiaochen Wang</a>
  <button class="navbar-toggler border-0" data-toggle="collapse"
    data-target="#dropdown">
    <i class="fa fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse" id="dropdown">
    <ul class="navbar-nav ml-auto" id="navigation">
      <div class="icon">
        <li class="nav-item text-right">
            <i class="ion-home"></i>
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
      </div>
      <div class="icon">
        <li class="nav-item text-right">
            <i class="ion-settings"></i>
            <a class="nav-link" routerLink="/project-page" routerLinkActive="active">Project</a>
        </li>
      </div>
      <div class="icon">
        <li class="nav-item text-right">
            <i class="ion-gear-b"></i>
            <a class="nav-link" routerLink="/skills-page" routerLinkActive="active">Skills</a>
        </li>
      </div>
      <div class="icon">
        <li class="nav-item text-right">
            <i class="ion-briefcase"></i>
            <a class="nav-link" routerLink="/experience-page" routerLinkActive="active">Experience</a>
        </li>
      </div>
      <!-- <div class="icon">
          <li class="nav-item text-right">
              <i class="ion-cloud"></i>
              <a class="nav-link" routerLink="/today-page" routerLinkActive="active">weather</a>
          </li>
        </div> -->
    </ul>
  </div>
</nav>
