<app-jumbotron></app-jumbotron>
<header class="v-header container">
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
      <h1>Welcome Everyone</h1>
      <p>Excellent creative and reliable Web developer with excellent projects on GitHub. </p>
      <a class="btn" href="https://github.com/xwang345">
        <a href="https://github.com/xwang345"><i class="fab fa-github mx-2"></i></a>
        Find Out More
      </a>
      <br>
      <br>
      <a class="btn" href="https://ca.linkedin.com/in/xiaochen-ryan-wang-49a00566">
        <a href="https://ca.linkedin.com/in/xiaochen-ryan-wang-49a00566"><i class="fab fa-linkedin mx-2"></i></a>
        My Linkedin
      </a>
    </div>
  </header>
  <section class="section section-b">
    <div class="container">
      <h2>About me</h2>
        <p>Extensive and thorough understanding of various computer languages and the principles and techniques of website construction and maintenance. </p>
        <p>Good at communicating complex technical information to a wide range of professional audiences in a clear and understandable way. I can create development guidance for other devs to follow.</p>
        <p>Experienced Hardware Engineer skilled in Cascading Style Sheets (CSS), Java, Javascript, Node.js,  C/C++, HTML,  Sql and Adobe Photoshop. Strong engineering professional graduated from Seneca College of Applied Arts and Technology.</p>
    </div>
  </section>
