<div class="section" id="experience">
        <div class="container cc-experience">
          <div class="h4 text-center mb-4 title">Project</div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <div class="h5">Employee Web App using Node.js and MVC framework</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Test Automation Specialist</div>
                  <p>
                      •	Built the server-side logic using Node.js and MVC framework – Express.js
                  </p>
                  <p>
                      •	Stored and manipulated (CRUD) the data in the databases – PostgreSQL and MongoDB
                  </p>
                  <p>
                      •	Used jQuery to perform AJAX
                  </p>
                  <p>
                      •<a href="https://web422a6.herokuapp.com/">https://web422a6.herokuapp.com/</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body cc-experience-header">
                  <div class="h5">HurraHome</div>
                </div>
              </div>
              <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                <div class="card-body">
                  <div class="h5">Hardware Engineer</div>
                  <p>
                      •	Worked with the C#, ASP.NET framework and SQL Server 2017 for the back-end development of the application, including the web API
                  </p>
                  <p>
                      •	Wrote code in AngularJS, JavaScript, HTML, CSS and Bootstrap to develop UI features from front-end design to back-end service integration
                  </p>
                  <p>
                      •	Managed and versioned the code using Git and Azure DevOps
                  </p>
                  <p>
                      • •<a href="https://www.hurrahome.com/">https://www.hurrahome.com/</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>