.jumbotron {
  background-image: url('src/assets/images/background-notebook.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.jumbotron-title {
  font-size: 3.5vw;
}

.lead {
  font-size: 3vw;
}
